* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: wheat;
}

.container {
    max-width: 300px;
    max-width: 500px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 30px;
}

.card-body {
    background-color: floralwhite;
}

.alert-warning {
    margin-left: 17px;
    margin-right: 17px;
}

.form-control {
    margin-right: 20px;
    border-radius: 0;
}