* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f8f8f;
}

button {
    width: 60px;
    border: black 1px solid;
}

input {
    border: black 1px solid;
    width: 200px;
}

.campo-busca {
    
}

#app {
    border: black 1px solid;
    position: absolute;
    top: 19%;
}