* {
    box-sizing: border-box;
}

body {
    background-color: #fffdd0;
}

footer {
    font-size: 0.6em;
    text-align: center;
    margin-top: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.content-center {
    width: 250px;
    margin: auto;
    padding: 10px;    
}

.content-center h1 {
    text-align: center;
}

.to-do {
    list-style: none;
    padding: 0;
}

.to-do li {
    padding: 10px;
    border-bottom: #ccc 1px solid;
}

.to-do li input {
    width: initial;
    margin-right: 15px;
}

.to-do li.complete {
    background-color: rgb(149, 237, 149);
    color: #999;
}

#new-task {
    width: 100%;
    padding: 5px;
}

.to-do button {
    width: 20px;
    height: 20px;
    color: white;
    background-color: red;
    float: right;
    padding: 0;
}